{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Scott Sherwood Project Portfolio</title>
        <script defer src="{% static 'app.js' %}"></script> 
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="sidebar">
            <a href='https://github.com/scott95100' target="_blank"><i class="fa fa-github"></i></a>
            <a href='https://www.linkedin.com/in/scott-sherwood-515114204/' target="_blank"><i class="fa fa-linkedin"></i></a>
            <a onClick="parent.location='mailto:scott95100@gmail.com?subject=Portfolio site view'"><i class="fa fa-fw fa-envelope"></i></a>
        </div>
    
    <div class="nav">
        <nav>
            <a href="#section1" class="active">ABOUT</a>
            <a href="#section2">SKILLS</a>
            <a href="#section3">PROJECTS</a>
            <a href="#section4">Link to section 4</a>
        </nav>
    </div>
    <div id="section1" class="section">
        <div class="bg-image"></div>
        <div class="text-wr">
           
        <h1>Scott Sherwood  Software Engineer  Full Stack Developer</h1>
        <p style='color:white; font-size: 20px;'>I am a process driven full stack software engineer. I strive to improve and implement meaningful solutions. I am driven by a desire to overcome obstacles, the more complex of a problem the better. Working in the Insurance industry gave me the ability to overcome stressful, time sensitive situations that often required meaningful group efforts to accomplish desired outcomes. This business evolved ability has empowered me to be successful in the Tech Industry.</p>
        
            <div class="developer-container">
                
                <img src="https://avatars.githubusercontent.com/u/77864402?v=4" width="100" height="100">
                    <div class="developer-writeup">
                        
                    </div>
                </div>
            </div>
    </div>
        </div>
    </div>
    <div id="section2" class="section">
        <div class="text-wr">
            <h1 class="title">Section 2</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
        </div>
    </div>
    <div id="section3" class="section">
        <div class="text-wr">
            <h1 class="title">Section 3</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
        </div>
    </div>
    <div id="section4" class="section">
        <div class="text-wr">
            <h1 class="title">Section 4</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
        </div>
    </div>
        
        <footer>
            <h2>Thank You!</h2>
            <h4>For Visiting</h4>
        </footer>
        <a id="to_Top" href="#one"><div class="to-Top"></div></a>
        <a id="to_Top" href="#one"><div class="to-Top"></div></a>
    </body>
    
</html>